name: Deploy
on:
    push:
        branches:
            - main
jobs:
    deploy:
        runs-on: ubuntu-latest
        name: Deploy
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v2
              with:
                  version: 8.9.2
            - uses: actions/setup-node@v3
              with:
                  node-version: 20.8.1
                  cache: "pnpm"
            - run: pnpm install --frozen-lockfile
            - uses: cloudflare/wrangler-action@v3
              with:
                  apiToken: ${{ secrets.CF_API_TOKEN }}
